*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
}

.encriptador,
.mensaje_txt{
    margin-bottom: 2em;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 2.5em);
    grid-template-columns: repeat(2, 50%);
    row-gap: .5em;
    padding: 1em;
    background: #e2bb0a;
    border: .4em solid #402b9c33;
    border-radius: .4em;
}

h2{
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

h2,
.input_box,
.btn_cop,
.txt_span{
    grid-column: 1 / 3;
}

.input_box{
    width: 100%;
    font-size: 1.2em;
    padding: .3em;
}

.btn_cop{
    width: 50%;
}

.btn_submit{
    font-size: 1.1em;
    text-transform: uppercase;
    padding: .5em;
    color: #fff;
    background: #191919;
    border: .2em solid #fff;
    border-radius: .4em;
    transition: 1s;
}

.btn_submit:hover{
    color: #191919;
    background: #fff;
    transition: 1s;
}

.txt_span{
    font-size: 1.2em;
}

.hide{
    display: none;
}

@media (max-width: 425px){

.encriptador,
.mensaje_txt{
    width: 80vw;
    margin-bottom: 1em;
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(2, 50%);
    row-gap: .5em;
    column-gap: .5em;
    padding: .8em;
}

h2{
    font-size: 1.1em;
}

.input_box{
    font-size: 1em;
}

.btn_submit{
    font-size: .9em;
    padding: .4em;
}

}

@media (max-width: 320px){

.btn_submit{
    font-size: .8em;
    margin-right: 1em;
}

}